<h1>Listing profile_images</h1>

<table>
  <thead>
    <tr>
      <th>Image</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @profile_images.each do |profile_image| %>
      <tr>
        <td><%= profile_image.image %></td>
        <td><%= link_to 'Show', profile_image %></td>
        <td><%= link_to 'Edit', edit_profile_image_path(profile_image) %></td>
        <td><%= link_to 'Destroy', profile_image, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Profile image', new_profile_image_path %>
