<div class="container">
<div class="col-md-12">
  <h2>Edit <%= resource_name.to_s.humanize %></h2>
</div>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put,:multipart => true }) do |f| %>
    <%= devise_error_messages! %>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          User Information
        </div>
        <div class="panel-body">
          <%= f.fields_for :profile do |p| %>
              <%= render :partial => "component/text_field",:locals => {:f=>p,:label_val=>"First Name",:n=>"first_name"} %>
              <%= render :partial => "component/text_field",:locals => {:f=>p,:label_val=>"Last Name",:n=>"last_name"} %>
              <%= render :partial => "component/date_field",:locals => {:f=>p,:label_val=>"Date of birth",:n=>"date_of_birth"} %>
              <div class="form-group">
                <%
                    @gender = ['Male','Female']
                %>
                <label>Gender</label>
                <%= p.select(:gender, @gender.map { |value| [ value, value ] },{},:class=>"form-control input-sm") %>
              </div>
              <div class="form-group">
                <label>Qualification</label>
                <%= p.select("education", Qualification.order("name").collect {|q| [ q.name, q.id ] }, {include_blank: 'None'},{:class=>"form-control input-sm"})%>
              </div>
              <div class="row">
                <div class="col-md-6">
                <%= render :partial => "component/text_field",:locals => {:f=>p,:label_val=>"Contact No",:n=>"contact1"} %>
                </div>
                <div class="col-md-6">
                <%= render :partial => "component/text_field",:locals => {:f=>p,:label_val=>"Alternative No",:n=>"contact2"} %>
                </div>
              </div>

          <% end %>
        </div>
      </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            Famaily Information
          </div>
          <div class="panel-body">
            <%= f.fields_for :famailyinfo do |fi| %>
                <%= render :partial => "component/text_field",:locals => {:f=>fi,:label_val=>"Father Name",:n=>"father_name"} %>
                <%= render :partial => "component/text_field",:locals => {:f=>fi,:label_val=>"Father Occupation",:n=>"father_occupation"} %>
                <%= render :partial => "component/text_field",:locals => {:f=>fi,:label_val=>"Mother Name",:n=>"monther"} %>
                <%= render :partial => "component/text_field",:locals => {:f=>fi,:label_val=>"Mother Occupation",:n=>"mother_occupation"} %>
                <%= render :partial => "component/text_field",:locals => {:f=>fi,:label_val=>"Contact No",:n=>"contact1"} %>
                <%= render :partial => "component/text_field",:locals => {:f=>fi,:label_val=>"Alternative Contact",:n=>"contact2"} %>
            <% end %>
          </div>
        </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          Address Information
        </div>
        <div class="panel-body">
          <%= f.fields_for :addresses do |ad| %>
              <%= render :partial => "component/text_field",:locals => {:f=>ad,:label_val=>"Address Line 1",:n=>"address1"} %>
              <%= render :partial => "component/text_field",:locals => {:f=>ad,:label_val=>"Address Line 2",:n=>"address2"} %>
              <%= render :partial => "component/text_field",:locals => {:f=>ad,:label_val=>"City",:n=>"city"} %>
              <%= render :partial => "component/text_field",:locals => {:f=>ad,:label_val=>"State",:n=>"state"} %>
              <%= render :partial => "component/text_field",:locals => {:f=>ad,:label_val=>"Country",:n=>"country"} %>
              <%= render :partial => "component/text_field",:locals => {:f=>ad,:label_val=>"Zip Code",:n=>"zip_code"} %>
          <% end %>
        </div>
      </div>
    </div>
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            Upload Profile Image
          </div>
          <div class="panel-body">
            <%= f.fields_for :profile_images do |pi| %>
                <div class="form-group">
                  <label>Select Image</label>
                  <%= pi.file_field :image,:class=>"form-control" %>
                </div>
            <% end %>
          </div>
        </div>
      </div>
    <div class="clearfix"></div>
  <div class="col-md-12">
    <%= f.submit "Update" ,:class=>"btn-danger btn-lg"%>
  </div>
<% end %>
</div>
