<div class="container">
  <div class="row">
    <div class="main">
      <h3>Please Sign Up, or <a href="/users/sign_in">Log In</a></h3>
      <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6">
          <a href="#" class="btn btn-lg btn-primary btn-block">Facebook</a>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6">
          <a href="#" class="btn btn-lg btn-info btn-block">Google</a>
        </div>
      </div>
      <div class="login-or">
        <hr class="hr-or">
        <span class="span-or">or</span>
      </div>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>
          <div class="form-group">
            <label for="inputUsernameEmail">Email</label>
            <%= f.email_field :email, autofocus: true,:class=>"form-control" %>
          </div>
          <div class="form-group">
            <label for="inputUsernameEmail">Password</label>
            <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
            <%= f.password_field :password, autofocus: "off",:class=>"form-control" %>
          </div>
          <div class="form-group">
            <label for="inputUsernameEmail">Password confirmation</label>
            <%= f.password_field :password_confirmation, autofocus: "off",:class=>"form-control" %>
          </div>
          <div class="actions">
            <%= f.submit "Sign up", :class=>"btn btn btn-primary"%>
          </div>
        <% end %>
    </div>
    </div>
</div>
<%= render "devise/shared/links" %>
