<div class="container">
    <table class="table">
      <thead>
          <th>Name</th>
          <th>Qualification</th>
      </thead>
      <tbody>
      <% @users.each do |u| %>
          <tr>
            <td><%= u.profile.first_name %></td>
            <td><%= get_qualification(u.profile.education) %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
</div>
