<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="well well-sm">
        <div class="media">
          <a class="pull-left" href="#">
            <!--image_tag @user.profile_images[0].image_url(:profile),:class=>"thumbnail" -->
            <%= render :partial => "component/image_slider" %>
          </a>
          <div class="media-body" style="padding-left:10px;">
            <h4 class="media-heading">
              <%= @user.profile.first_name.to_s.capitalize %> <%= @user.profile.last_name.to_s.capitalize %>
            </h4>
            <p><span class="label label-info">5 photos</span> <span class="label label-warning">150 Likes</span></p>
            <p>
              <a href="#" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-comment"></span> Message</a>
              <a href="#" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-heart"></span> Favorite</a>
            </p>
            <div style="height:15px;"></div>
            <div class="col-md-6" style="padding-left:0px;">
              <table class="table table-bordered">
                <tr>
                  <td colspan="2"><b>User Infomation</b></td>
                </tr>
                <tr>
                  <td>Gender</td>
                  <td><%= @user.profile.gender %></td>
                </tr>
                <tr>
                  <td>Date of Birth</td>
                  <td><%= @user.profile.date_of_birth %></td>
                </tr>
                <tr>
                  <td>Qualification</td>
                  <td><%= get_qualification(@user.profile.education) %></td>
                </tr>
                <tr>
                  <td>Annual Income</td>
                  <td><%= @user.profile.income %></td>
                </tr>
                <tr>
                  <td>Email</td>
                  <td><%= @user.email %></td>
                </tr>
                <tr>
                  <td>Contact No</td>
                  <td>
                    <%= @user.profile.contact1 %>
                    <% if !@user.profile.contact2.nil? && !@user.profile.contact2.blank? %>
                        , <%= @user.profile.contact2 %>
                    <% end %>
                  </td>
                </tr>
              </table>
            </div>
            <div class="col-md-6">
              <table class="table table-bordered">
                <tr>
                  <td colspan="2"><b>Family Infomation</b></td>
                </tr>
                <tr>
                  <td>Father Name</td>
                  <td><%= @user.famailyinfo.father_name %></td>
                </tr>
                <tr>
                  <td>Father Occupation</td>
                  <td><%= @user.famailyinfo.father_occupation %></td>
                </tr>
                <tr>
                  <td>Mother Name</td>
                  <td><%= @user.famailyinfo.monther %></td>
                </tr>
                <tr>
                  <td>Mother Occupation</td>
                  <td><%= @user.famailyinfo.mother_occupation  %></td>
                </tr>
                <tr>
                  <td>Contact No</td>
                  <td>
                    <%= @user.famailyinfo.contact1 %>
                    <% if !@user.famailyinfo.contact2.nil? && !@user.famailyinfo.contact2.blank? %>
                        , <%= @user.famailyinfo.contact2 %>
                    <% end %>
                  </td>
                </tr>
              </table>
            </div>
            <p>

            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="well well-sm">
        <div class="media">
          <div class="media-body" style="padding-left:10px;">
            <div style="height:15px;"></div>
            <p>
            <table class="table table-bordered">
              <tr>
                <td><b>Address Infomation</b></td>
              </tr>
              <tr>
                <td>
                  <%= @user.addresses[0].address1 %><br>
                  <%= @user.addresses[0].address2 %><br>
                  <%= @user.addresses[0].city %><br>
                  <%= @user.addresses[0].state %><br>
                  <%= @user.addresses[0].country %><br>
                  <%= @user.addresses[0].zip_code %><br>
                </td>
              </tr>
            </table>
            </p>
            <p>

            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
    jssor_1_slider_init();
</script>