<div class="container">
  <div class="row">

    <div class="main">

      <h3>Please Log In, or <a href="/users/sign_up">Sign Up</a></h3>
      <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6">
          <a href="#" class="btn btn-lg btn-primary btn-block">Facebook</a>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6">
          <a href="#" class="btn btn-lg btn-info btn-block">Google</a>
        </div>
      </div>
      <div class="login-or">
        <hr class="hr-or">
        <span class="span-or">or</span>
      </div>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

        <div class="form-group">
          <label for="inputUsernameEmail">Username or email</label>
          <!--<input type="text" class="form-control" id="inputUsernameEmail">-->
          <%= f.email_field :email, autofocus: true,:class=>"form-control" %>
        </div>
        <div class="form-group">
          <a class="pull-right" href="/users/password/new">Forgot password?</a>
          <label for="inputPassword">Password</label>
          <!--<input type="password" class="form-control" id="inputPassword">-->
          <%= f.password_field :password, autocomplete: "off",:class=>"form-control" %>
        </div>
        <div class="checkbox pull-right">
          <label>
            <input type="checkbox">
            Remember me </label>
        </div>
        <button type="submit" class="btn btn btn-primary">
          Log In
        </button>
      <% end %>
    </div>

  </div>
</div>